p{
    background-color: black;
     color:white;
}
.Contact{
    background-color: blue;
    color: white;
}
#About{
    background-color: orange;
    color: blue;
}
.p{
    background-color: white;
    color: black;
}